</br>
<h1 class="text-center">Every Time I End You</h1>

<% if flash[:notice] %>
   <div class="alert alert-danger"><%= flash[:notice] %></div>
 <% end %>

<table class="table">
  <tr>
    <th class="text-center">Jar</th>
    <th>Verse</th>
    <th>Map</th>
  </tr>
 
  <% @verses.each do |verse| %>
    <tr>
      <th class="span3" align="center"><%= link_to(image_tag(verse.image), image_path(verse.imagelink))%></td>
      <td class="span6"><%=simple_format h verse.text %> </td>
	  <th class="span3"><%= link_to(image_tag(verse.map), verse.maplink, :title => verse.latitude.to_s + ', ' + verse.longitude.to_s)%></td>
    </tr>
  <% end %>
</table>

<br>

<% if @showUnlocked == true %>

<%= form_for :verse, :url => { :action => "unlock" } do |f| %>
  <div class="form-inline offset3">
    <strong>Enter Verse Unlock Code:</strong> <% f.label :code %> <%= f.text_field :code %> <%= f.submit "Unlock", class: 'btn' %>
  </div>
<% end %>

<% end %>

<iframe width="940" height="529" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?hl=en&amp;msid=201363619717282390147.0004ef835a4722b3e2525&amp;msa=0&amp;ie=UTF8&amp;t=h&amp;ll=33.422344,-111.938324&amp;spn=0.0394,0.084028&amp;z=14&amp;output=embed"></iframe><br />

<p class="text-center">© 2014 <a href="http://matthewmosher.us">Matthew Mosher</a></p>